In [171]:
import pandas as pd
import os
import numpy as np

In [172]:
raw_data = pd.read_excel('/home/faisal/Documents/data/Saudi-Fundus/RETINA.xlsx', header=None, index_col=False)

In [173]:
raw_data.head()

    0    1     2    3    4    5    6    7    8    9    10
0   N0  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   N0  NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   N2    E   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3   N2    E   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  BRVO  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [174]:
raw_data = raw_data.rename(columns={0:'label'})

In [175]:
raw_data.columns

Index(['label', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='object')

In [176]:
raw_data[['label']]

    label
0      N0
1      N0
2      N2
3      N2
4     NaN
..    ...
479     P
480     P
481    N1
482    N1
483    N1

[484 rows x 1 columns]

In [177]:
raw_data['label'].count()

481

In [178]:
raw_data['label'].isna().sum()

3

In [179]:
raw_data['label'][raw_data['label'] == 'N0'] = '0'

In [180]:
raw_data['label'][raw_data['label'] == 'N1'] = '1'

In [181]:
raw_data['label'][raw_data['label'] == 'N2'] = '2'

In [182]:
raw_data['label'][raw_data['label'] == 'N3'] = '3'

In [183]:
raw_data['label'][raw_data['label'] == 'P'] = '4'

In [184]:
raw_data['label'][raw_data['label'] == 'IP'] = np.nan

In [185]:
raw_data['label'][raw_data['label'] == 'NR'] = np.nan

In [192]:
# path = '/home/faisal/Documents/data/Saudi-Fundus/Fundus - Glaucoma/'
# for root, dirs, files in os.walk(path):
#     for file in files:
        
#         print(file)

In [188]:
list1 = []
for i in range(1, len(raw_data['label'])+1):
    list1.append(f'Image ({i})')

In [189]:
len(list1)

484

In [193]:
raw_data['label']

0        0
1        0
2        2
3        2
4      NaN
      ...
479      4
480      4
481      1
482      1
483      1
Name: label, Length: 484, dtype: object

In [194]:
df = pd.DataFrame(columns=['Image', 'label'])
for i in range(len(raw_data['label'])):
    df = df.append(pd.DataFrame([[list1[i], raw_data['label'][i]]], columns=['Image', 'label']), ignore_index=True)

In [195]:
df = df.dropna()

In [196]:
len(df)

456

In [197]:
df.to_csv('RETINA.csv', index=False)