In [1]:
import torch

In [2]:
torch.cuda.cudaStatus

torch.cuda.cudaStatus

In [4]:
torch.cuda.is_available()

False

In [6]:
from sklearn.model_selection import StratifiedShuffleSplit

In [7]:
import pandas as pd

In [139]:
pd.read_csv('/Users/fafa-/Dropbox/My PC (Faisal)/Downloads/diabetic-retinopathy-detection/DiabeticRetinopathy/train_csv.csv')

             image  target
0      34400_right       4
1       1147_right       0
2      29737_right       0
3       38796_left       0
4       37030_left       0
...            ...     ...
31608   6529_right       1
31609   40243_left       0
31610   8793_right       0
31611   20975_left       0
31612    2703_left       0

[31613 rows x 2 columns]

In [125]:
path = '/Users/fafa-/Dropbox/My PC (Faisal)/Downloads/diabetic-retinopathy-detection/DiabeticRetinopathy/'

In [9]:
mydata = pd.read_csv('/Users/fafa-/Dropbox/My PC (Faisal)/Downloads/diabetic-retinopathy-detection/DiabeticRetinopathy/trainLabels/trainLabels.csv')

In [15]:
mydata.head()

      image  level
0   10_left      0
1  10_right      0
2   13_left      0
3  13_right      0
4   15_left      1

In [16]:
data = mydata['image']

In [17]:
target = mydata['level']

In [93]:
splitter = StratifiedShuffleSplit(n_splits=1, test_size=0.1)

In [94]:
new_data = splitter.split(data, target)

In [95]:
new_data

In [96]:
train_idx, train_idx = next(iter(new_data))

In [99]:
len(train_idx)

31613

In [101]:
len(valid_idx)

3513

In [106]:
mydata

             image  level
0          10_left      0
1         10_right      0
2          13_left      0
3         13_right      0
4          15_left      1
...            ...    ...
35121  44347_right      0
35122   44348_left      0
35123  44348_right      0
35124   44349_left      0
35125  44349_right      1

[35126 rows x 2 columns]

In [107]:
mydata2 = np.array(mydata)

In [108]:
train = mydata2[train_idx]

In [109]:
valid = mydata2[valid_idx]

In [116]:
train_csv = pd.DataFrame(train, columns=['image', 'target'])

In [117]:
valid_csv = pd.DataFrame(valid, columns=['image', 'target'])

In [136]:
train_csv.to_csv(os.path.join(path, 'train_csv.csv'), index = False)

In [137]:
valid_csv.to_csv(os.path.join(path, 'valid_csv.csv'),  index = False)